ansible-compat == 3.0.2 # https://github.com/ansible-community/molecule-plugins/issues/176
molecule == 5.*
molecule-plugins[docker] == 23.*
molecule-plugins[vagrant] == 23.*
ansible-lint == 6.*
pywinrm  == 0.*
